<h4> 這裡是 @Session["uid"] 的Group管理頁</h4><br>
<span style="color:red">@TempData["result"]</span> <!-- 結果檢視 -->

@model MVCWebApp.Models.GROUP
<h1></h1>
<form method="post">
    <table class="table">
        <tr>
            <th>
            </th>
            <th>
                新增(admin)
            </th>
            <th>
                修改(admin)
            </th>
            <th>
                刪除(admin)
            </th>
            <th>
                查詢(admin)
            </th>
            <th>
                新增(user)
            </th>
            <th>
                修改(user)
            </th>
            <th>
                刪除(user)
            </th>
            <th>
                查詢(user)
            </th>
        </tr>
        <tr>
            <th>ADMIN操作</th>
            <td>@Html.CheckBoxFor(model => model.A)</td>
            <td>@Html.CheckBoxFor(model => model.B)</td>
            <td>@Html.CheckBoxFor(model => model.C)</td>
            <td>@Html.CheckBoxFor(model => model.D)</td>

            <td>@Html.CheckBoxFor(model => model.E)</td>
            <td>@Html.CheckBoxFor(model => model.F)</td>
            <td>@Html.CheckBoxFor(model => model.G)</td>
            <td>@Html.CheckBoxFor(model => model.H)</td>
        </tr>
        <tr>
            <th>USER操作</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>@Html.CheckBoxFor(model => model.I)</td>
            <td>@Html.CheckBoxFor(model => model.J)</td>
            <td>@Html.CheckBoxFor(model => model.K)</td>
            <td>@Html.CheckBoxFor(model => model.L)</td>
        </tr>
    </table>
    <input type="submit" value="修改">
</form>