<h4> 這裡是 @Session["uid"] 的Log檢視頁</h4><br>

@model IEnumerable<MVCWebApp.Models.LOGSTATE>
@using X.PagedList.Mvc;
@using X.PagedList;

<script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script> <!-- Aways on top-->

<link rel="stylesheet" href="~/Content/bootstrap.css" />
<link rel="stylesheet" href="~/Content/bootstrap-select.css" />

<link href="~/Content/bootstrap-datepicker3.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-datepicker.min.js"></script>

<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />

<table class="table">
    <tr>
        <th>
            結果
        </th>
        <th>
            操作帳號
        </th>
        <th>
            行為
        </th>
        <th>
            操作時間
        </th>
    </tr>
    @foreach (var item in ViewBag.OnePage)
    {
        <tr>
            <td>
                @item.boo_state
            </td>
            <td>
                @item.str_uid
            </td>
            <td>
                @item.str_type
            </td>
            <td>
                @item.tsp_time.ToString("yyyy/MM/dd HH:mm:ss")
            </td>
        </tr>
    }
</table>

<form style="margin-left:10px;" method="post" action="">
    @Html.PagedListPager((IPagedList)ViewBag.OnePage, page => Url.Action("LogState", new { page }))
    <select class="selectpicker" multiple>
        <!-- 操作狀態 -->
        <option>成功</option>
        <option>失敗</option>
    </select>

    <select class="selectpicker" multiple>
        <!-- 操作群組-->
        <option>Admin</option>
        <option>User</option>
    </select>

    <script scr="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap-select.js"></script>
    <script src="~/Scripts/i18n/defaults-zh_TW.js"></script>

    <!-- 這邊是日期的部分 -->
    <script>
        $(function () {
            $("#TextBox1").datepicker();
        }
        );
    </script>

    <script>
        $(function () {
            $("#TextBox2").datepicker({
                format: 'yyyy-mm-dd',
                //format: 'yyyy-mm-dd hh:mm:ss',
                //locale: moment.locale('zh-tw')
            });
        }
        );
    </script>

    <script>
        $(function () {
            $(".bootstrap-datepicker").datepicker({
                format: 'yyyy-mm-dd',
            });
        });
    </script>


    <button type="submit" class="btn btn-primary">確認修改</button>
</form>

<!--
    bootstrap-select 參考
    https://silviomoreto.github.io/bootstrap-select/examples/#basic-examples
    Bootstrap 3 Datepicker 參考
    https://eonasdan.github.io/bootstrap-datetimepicker/
-->
