@model MVCWebApp.Models.USR

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

<form style="margin-left:10px;" method="post" action="">
    <div>
        <br><br><br>
        <h3>請輸入要修改的訊息</h3><br>
        <!-- <span style="color:red">@ViewBag.msg</span>  <!-- 錯誤提示用的 -->
        <!--信箱-->
        <div class="form-group">
            @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" }) <!-- 標題 -->
            <div class="col-md-10">
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } }) <!-- 資料輸入欄位 -->
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" }) <!-- 警告訊息 -->
            </div>
        </div>
        <!--群組-->
        <div class="form-group">
            @Html.LabelFor(model => model.per, htmlAttributes: new { @class = "control-label col-md-2" }) <!-- 標題 -->
            <div class="col-md-10">
                @Html.EditorFor(model => model.per, new { htmlAttributes = new { @class = "form-control" } }) <!-- 資料輸入欄位 -->
                @Html.ValidationMessageFor(model => model.per, "", new { @class = "text-danger" }) <!-- 警告訊息 -->
            </div>
        </div>
        <!--管理員密碼-->
        <div class="form-group">
            @Html.LabelFor(model => model.upw, htmlAttributes: new { @class = "control-label col-md-2" }) <!-- 標題 -->
            <div class="col-md-10">
                @Html.EditorFor(model => model.upw, new { htmlAttributes = new { @class = "form-control" } }) <!-- 資料輸入欄位 -->
                @Html.ValidationMessageFor(model => model.upw, "", new { @class = "text-danger" }) <!-- 警告訊息 -->
            </div>
        </div>
        <button type="submit" class="btn btn-primary">確定</button>
    </div>
</form>