@using PagedList
@using PagedList.Mvc

<h4> 這裡是 @Session["uid"] 的Group管理頁</h4><br>

<span style="color:red">@TempData["result"]</span> <!-- 結果檢視 -->

@model IEnumerable<MVCWebApp.Models.USR>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.uid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.per)
        </th>
        <th>
            操作
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.uid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.per)
            </td>
            <td>
                @Html.ActionLink("編輯", "USR_Edit", new { id = item.uid })
                @Html.ActionLink("刪除", "USR_Delete", new { id = item.uid })
            </td>
        </tr>
    }
</table>
  
    <!--
        互動式選單
        http://bootstrap.hexschool.com/docs/4.0/components/modal/
    -->
