@model MVCWebApp.Models.ACCOUNT

@{
    ViewBag.Title = "Sign in";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

<h3> 這裡是 @Session["uid"] 的個人資訊管理頁</h3>

<h3>目前使用者群組為：@Session["key"]</h3>
<!--
>> 帳號
>> 密碼1
>> 密碼2
>> email

>> 確認修改
>> 刪除帳號
-->
<!--
    摺疊語法
    http://www.runoob.com/bootstrap/bootstrap-collapse-plugin.html
    -->
<form style="margin-left:10px;" method="post" action="">
    <div>
        <span style="color:red">@ViewBag.Msg</span>  <!-- 錯誤提示用的 -->
    </div>
    <div class="panel-group" id="accordion">
<!--第一個折疊-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion"
                       href="#collapseOne">
                        修改帳號
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <!--輸入帳號-->
                    <div class="form-group">
                        @Html.LabelFor(model => model.uid, htmlAttributes: new { @class = "control-label col-md-2" }) <!-- 標題 -->
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.uid, new { htmlAttributes = new { @class = "form-control" } }) <!-- 資料輸入欄位 -->
                            @Html.ValidationMessageFor(model => model.uid, "", new { @class = "text-danger" }) <!-- 警告訊息 -->
                        </div>
                    </div>
                    <!--輸入密碼-->
                    <div class="form-group">
                        @Html.LabelFor(model => model.upw, htmlAttributes: new { @class = "control-label col-md-2" }) <!-- 標題 -->
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.upw, new { htmlAttributes = new { @class = "form-control" } }) <!-- 資料輸入欄位 -->
                            @Html.ValidationMessageFor(model => model.upw, "", new { @class = "text-danger" }) <!-- 警告訊息 -->
                        </div>
                    </div>
                    <!--送出-->
                    <button type="submit" class="btn btn-primary">確定</button>
                    <!--結束-->
                </div>
            </div>
        </div>
<!--第二個折疊-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion"
                       href="#collapseTwo">
                        修改密碼
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    密碼輸入兩次
                </div>
            </div>
        </div>
<!--第三個折疊-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion"
                       href="#collapseThree">
                        修改信箱
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    輸入信箱
                </div>
            </div>
        </div>
<!--第四個折疊-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion"
                           href="#collapseFour">
                            刪除帳號
                        </a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse">
                    <div class="panel-body">
                        輸入密碼
                    </div>
                </div>
            </div>
