@model MVCWebApp.Models.ACCOUNT

@{
    ViewBag.Title = "Sign in";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <!-- 這兩行是為了驗證帳號重複性加入的-->
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
}

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

<!-- 這兩行是為了驗證帳號重複性加入的-->
<script src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<form style="margin-left:10px;" method="post" action="">
    <!-- 使用post 傳遞使用者帳密-->
    <h1>請輸入使用者資料</h1>

    <div>
        <span style="color:red">@ViewBag.Msg</span>  <!-- 錯誤提示用的 -->
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.uid, htmlAttributes: new { @class = "control-label col-md-2" }) <!-- 標題 -->
        <div class="col-md-10">
            @Html.EditorFor(model => model.uid, new { htmlAttributes = new { @class = "form-control" } }) <!-- 資料輸入欄位 -->
            @Html.ValidationMessageFor(model => model.uid, "", new { @class = "text-danger" }) <!-- 警告訊息 -->
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" }) <!-- 標題 -->
        <div class="col-md-10">
            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } }) <!-- 資料輸入欄位 -->
            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" }) <!-- 警告訊息 -->
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.upw, htmlAttributes: new { @class = "control-label col-md-2" }) <!-- 標題 -->
        <div class="col-md-10">
            @Html.EditorFor(model => model.upw, new { htmlAttributes = new { @class = "form-control" } }) <!-- 資料輸入欄位 -->
            @Html.ValidationMessageFor(model => model.upw, "", new { @class = "text-danger" }) <!-- 警告訊息 -->
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.repw, htmlAttributes: new { @class = "control-label col-md-2" }) <!-- 標題 -->
        <div class="col-md-10">
            @Html.EditorFor(model => model.repw, new { htmlAttributes = new { @class = "form-control" } }) <!-- 資料輸入欄位 -->
            @Html.ValidationMessageFor(model => model.repw, "", new { @class = "text-danger" }) <!-- 警告訊息 -->
        </div>
    </div>

    <!--
    <div class="form-group">
        <label for="exampleInputID">帳號</label>
        <input type="text" class="form-control" id="Userid" name="uid" placeholder="User ID" value="">
        @Html.ValidationMessageFor(model => model.uid)
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">電子郵件</label>
        <input type="text" class="form-control" id="E-mail" name="email" placeholder="example@yesee.com.tw" value="">
        @Html.ValidationMessageFor(model => model.email)
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">密碼</label>
        <input type="password" class="form-control" id="Userpw1" name="upw" placeholder="password" value="">
        @Html.ValidationMessageFor(model => model.upw)
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">再次確認密碼</label>
        <input type="password" class="form-control" id="Userpw2" name="repw" placeholder="retype password" value="">
        @Html.ValidationMessageFor(model => model.repw)
    </div>
    -->

    <button type="submit" class="btn btn-primary">確定</button>
    <button type="reset" class="btn btn-warning">清除</button>
</form>

<!--
    參考資料
    https://ithelp.ithome.com.tw/articles/10195671 << 註冊頁製作
    https://ithelp.ithome.com.tw/users/20105694/ironman/1329?page=3 << 系列

    https://read01.com/zh-tw/J0N7ED.html#.WzSJmNIzYdU << 加密相關
*-->
